* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #000dff, #000);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(10%);
    }
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    transition: 1.5s;
    z-index: 2;
}

section span:hover {
    background: #000;
    transition: 0.5s;
}

.signin {
    position: absolute;
    width: 400px;
    background: #141212;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 30px 35px rgba(9, 2, 14, 0);
}

.signin .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.signin .content h2 {
    font-size: 2em;
    color: #0734ff;
    text-transform: uppercase;
}

.signin .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signin .content .form .input-box {
    position: relative;
}

.signin .content .form .input-box input {
    width: 100%;
    background: #333;
    outline: none;
    padding: 15px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    border: none;
}

.signin .content .form .input-box input:focus + i {
    transform: translateY(-20px);
    font-size: 0.8em;
    color: #fff;
}

.signin .content .form .input-box i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-style: normal;
    color: aqua;
    transition: 0.5s;
    pointer-events: none;
}

.signin .content .form .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signin .content .form .links a {
    color: #fff;
    text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
    color: #000dff;
    font-weight: 600;
}

.signin .content .form .input-box input[type="submit"] {
    padding: 10px;
    background: #0009b8;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
}

.signin .content .form .input-box input[type="submit"]:hover {
    background: #000dff;
}
@media (max-width: 600px) 
{
    section span
    {
        width: calc(20vw - 20px);
        height: calc(20vw - 20px);
    }
}